<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Style the tab */
        #tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        #tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        #tab button:hover {
        background-color: #ddd;
        }

        /* Create an active/current tablink class */
        #tab button.active {
        background-color: #ccc;
        }

        /* Style the tab content */
        #tabContent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        }


        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #Injury {
            text-align: center;
        }

        #Category {
            text-align: center;
        }

        /* Style the top navigation bar */
        .navbar {
        overflow: hidden;
        background-color: #333;
        }

        /* Style the navigation bar links */
        .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        }

        /* Right-aligned link */
        .navbar a.right {
        float: right;
        }

        /* Change color on hover */
        .navbar a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Footer */
        .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        }

    </style>
</head>
<body>
    
    <div class="navbar">
        <header>
            <div id="logo">Logo</div>
            <a href="#" class="right">Save</a>
            <a href="#" class="right">View Reports</a>
            <a href="#" class="right">Update</a>
            <a href="#" class="right">Create</a>
        </header>
      
    </div>

    
   
  
    <section>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ab">A B</a></li>
            <li><a data-toggle="tab" href="#c">C</a></li>
            <li><a data-toggle="tab" href="#de">D E</a></li>
            <li><a data-toggle="tab" href="#f">F</a></li>
            <li><a data-toggle="tab" href="#g">G</a></li>
            <li><a data-toggle="tab" href="#h">H</a></li>
            <li><a data-toggle="tab" href="#i">I</a></li>
            <li><a data-toggle="tab" href="#j">J</a></li>
            <li><a data-toggle="tab" href="#l">L</a></li>
            <li><a data-toggle="tab" href="#m">M</a></li>
           
            
        </ul>
      
       
        <div class="tab-content">
            <div id="ab" class="tab-pane fade in active">
                <div id="a">
                    <table>
                        <td colspan="2"><h3>A: Date & Time of Occurrence</h3>
                            <label for="birthday">Date:</label>
                            2021-05-25
                            
                            <label for="Time" style="font-weight: bold;">Time</label>
                            07:35:41
                            
                        </td>
                        <td>
                            <div id="b">
                                <h3>B: Diagnosis - Related to Event</h3>
                                <div>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ad iusto, incidunt laborum corrupti est architecto quibusdam suscipit voluptatibus quod aut earum officiis harum vel velit vero totam eligendi non.
                                </div>
                            </div>
                        </td>
                    </table>
                    
                </div>   
            </div>
            
            <div id="c" class="tab-pane fade">
                <table>
                    <td colspan="3"><h3>C: Particulars of Person Involved</h3></td>
                   
                    <tr>
                        <td> 
                            <h4>Affected Person</h4>
                            <input type="checkbox" value="P" disabled>
                            <label for="html">Patient</label>
                            <input type="checkbox" value="P" checked>
                            <label for="html">Visitor / Caregiver</label>
                            <input type="checkbox" value="P" disabled>
                            <label for="html">Staff</label>
                        </td>
                        <th rowspan="6"><br>
                          
                            <label for="css">Patient / Affected Person's Particulars</label>
                     
                            <br><br>

                            <label for="css">Name:</label>
                     
                            Patient3<br><br>

                            <label for="css">NRIC/FIN/Passport No:</label>
                     
                            G0535893K<br><br>

                            <label for="css">Postal Address:</label>
                     
                            546215<br><br>
                            
                            Sex:
                            <input type="radio" id="css" name="M" value="CSS" checked>
                            <label for="css">M</label>
                            <input type="radio" id="css" name="F" value="CSS" disabled>
                            <label for="css">F</label><br><br>

                            <label for="contact">Contact Number:</label>
                            NULL<br><br>

                            <label for="css">Ward</label>
                     
                            2

                            <label for="css">Bed</label>
                     
                            1
                         
                        </th>
                
                           
                    </tr>

                    <tr>
                        <td>
                            Witness: NULL
                        </td>
                    
                    </tr>
                    
                </table>
                
               
            </div>       
            <div id="de" class="tab-pane fade">
                <div>
                    <table>
                        <td colspan="2"><h3>D: Location of Occurrence</h3></td>
                        <td colspan="4"><h3>E: Time of Notification</h3></td>
                        <tr>
                            <th id="Category">Location</th>
                            <th id="Category">Site</th>
                            <th>Doctor</th>
                            <th>Supervisor</th>
                            <th>Police</th>
                            <th>Relative</th>
                        </tr>
                        <tr>
                          <td>
                            <div>
                                <input type="radio" name="Location1" id="inWard" value="inWard" checked>In the Ward<br>
                                <input type="radio" name="Location1" id="outWard" value="outWard" disabled>Outside the Ward<br>
                                <input type="radio" name="Location2" id="Pharmacy" value="Pharmacy" disabled>Pharmacy<br>
                                <input type="radio" name="Location2" id="outHospital" value="outHospital" disabled>Outside the Hospital<br>
                            
                            </div>
                          </td>
                          <td>
						  <div>
                                <input type="radio" id="css" name="Beside" value="CSS" checked>
                                <label for="css">Beside</label><br>
                                <input type="radio" id="css" name="Cubicle" value="CSS" disabled>
                                <label for="css">Cubicle</label><br>
                                <input type="radio" id="css" name="Corridor" value="CSS" disabled>
                                <label for="css">Corridor</label><br>
                                <input type="radio" id="css" name="Toilet" value="CSS" disabled>
                                <label for="css">Toilet</label><br>
                                <input type="radio" id="css" name="Therapy" value="CSS" disabled>
                                <label for="css">Therapy Gym</label><br>
                                <input type="radio" id="css" name="Others" value="CSS"disabled>
                                <label for="fname">Others(Specify):
                                <input type="text" id="fname" name="fname">
                                </label>
                          </td>
                        </div>
						<td>
						<div>
						  <input type="time" id="dtime" name="dtime"><br><br><br><br><br><br><br><br>
						</td>
                        </div>
						<td>
						<div>
						  <input type="time" id="stime" name="stime"><br><br><br><br><br><br><br><br>
						</td>
                        </div>
						<td>
						<div>
						  <input type="time" id="ptime" name="ptime"><br><br><br><br><br><br><br><br>
						</td>
                        </div>
						<td>
						<div>
						  <input type="time" id="rdtime" name="rdtime"><br><br><br><br><br><br><br><br>
						</td>
                        </div>
					    <tr>
                          <td>Laughing Bacchus Winecellars</td>
                          <td>Yoshi Tannamuri</td>
                          <td>Canada</td>
                        </tr>
                        <tr>
                          <td>Magazzini Alimentari Riuniti</td>
                          <td>Giovanni Rovelli</td>
                          <td>Italy</td>
                        </tr>
                       </table>        
            
                </div>
            </div>
            <div id="f" class="tab-pane fade">
                <table>
                    <td colspan="3"><h3>F: Type of Occurrence</h3></td>
                    <tr>
                      <th id="Category">Fall Related</th>
                      <th id="Category">Medication Related</th>
                      <th id="Category">Other Incidents</th>
                    </tr>
                    <tr>
                        <td> 
                            <input type="radio" id="html" name="Fall" value="HTML" checked>
                            <label for="html">Fall (Non-Injury)</label>
                            <input type="radio" id="css" name="Near" value="CSS" disabled>
                            <label for="css">Near Fall</label><br>
                        </td>
                        <th rowspan="6">Types of Error<br>
                            <input type="radio" id="css" name="Wrong" value="CSS" checked>
                            <label for="css">Wrong Patient</label><br>
                            <input type="radio" id="css" name="Drug" value="CSS" disabled>
                            <label for="css">Wrong Drug</label><br>
                            <input type="radio" id="css" name="Strength" value="CSS" disabled>
                            <label for="css">Wrong Strength/Dose</label><br>
                            <input type="radio" id="css" name="Time" value="CSS" disabled>
                            <label for="css">Wrong Time</label><br>
                            <input type="radio" id="css" name="Route" value="CSS" disabled>
                            <label for="css">Wrong Route</label><br>
                            <input type="radio" id="css" name="Others" value="CSS" disabled>
                            <label for="fname">Others(Specify):
                            <input type="text" id="fname" name="fname"><br><br>
                            </label><br><br><br><br>

                            <label for="fname">Drug Involved:
                            <input type="text" id="fname" name="fname">
                            <br><br>

                            Error reached patient:   
                            <input type="radio" id="css" name="Yes" value="CSS" checked>
                            <label for="css">Yes</label>
                            <input type="radio" id="css" name="No" value="CSS" disabled>
                            <label for="css">No</label><br>
                        </th>
                        <th rowspan="6">Types of Error<br>
                            <input type="radio" id="html" name="Injury" value="CSS" checked>
                            <label for="html">Injury unrelated to fall</label><br>
                            <input type="radio" id="css" name="Treatment" value="CSS" disabled>
                            <label for="css">Treatment Related</label><br>
                            <input type="radio" id="css" name="Diagnostic" value="CSS" disabled>
                            <label for="css">Diagnostic related</label><br>
                            <input type="radio" id="css" name="Abuse" value="CSS" disabled>
                            <label for="css">Abuse</label><br>
                            <input type="radio" id="css" name="Assaults" value="CSS" disabled>
                            <label for="css">Assaults</label><br>
                            <input type="radio" id="css" name="Needle-stick" value="CSS" disabled>
                            <label for="css">Needle-stick Injury</label><br>
                            <input type="radio" id="css" name="Other" value="CSS">
                            <label for="css">Other Incident</label><br><br><br><br><br><br>

                            <label for="fname">Details(Specify):</label>
                            <input type="text" id="fname" name="fname"><br><br>

                           
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="html" name="Fall" value="HTML" checked>
                            <label for="html">Fall (Injury)</label>
                            <input type="radio" id="css" name="Near" value="CSS" disabled>
                            <label for="css">Near Fall (Injury)</label><br>
                        </td>
                       
                    </tr>
                    <tr>
                        <td id="Injury">Injury</td>
                     
                    </tr> 
                    <tr>
                        <td>
                            <input type="radio" id="html" name="Fracture" value="HTML" checked>
                            <label for="html">Fracture</label>
                            <input type="radio" id="css" name="Laceration" value="CSS" disabled>
                            <label for="css">Laceration</label><br>
                            <input type="radio" id="html" name="Abrasion" value="HTML" disabled>
                            <label for="html">Abrasion</label>
                            <input type="radio" id="css" name="Hematoma" value="CSS" disabled>
                            <label for="css">Hematoma</label><br>
                            <input type="radio" class="right" name="Head" value="HTML" disabled>
                            <label for="html">Head Injury</label>
                            <input type="radio" class="right" name="Others" value="CSS" disabled>
                            <label for="css">Others:</label><br>
                            <input type="radio" class="right" name="Bruise" value="HTML" disabled>
                            <label for="html">Bruise/Swelling</label>
                        </td>
                      
                    </tr>
                    <tr>
                        <td>Fall Risk Assessment:<br>
                            <input type="radio" id="html" name="Fracture" value="HTML" checked>
                            <label for="html">Fracture</label>
                            <input type="radio" id="css" name="Laceration" value="CSS" disabled>
                            <label for="css">Laceration</label>
                            <input type="radio" id="html" name="Abrasion" value="HTML" disabled>
                            <label for="html">Abrasion</label>

                            History of Falls:
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Yes</label>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">No</label>

                          
                        </td>
                     

                        
                     
                    </tr>
                    <tr>
                        <td>Assisted/Unassisted fall:<br>
                            <input type="radio" id="html" name="Assisted" value="HTML" checked>
                            <label for="html">Assisted</label>
                            <input type="radio" id="css" name="Unassisted" value="CSS" disabled>
                            <label for="css">Unassisted</label>

                           
                            <label for="fname"> AMT:</label>
                            <input type="text" id="fname" name="fname">/10<br><br>

                        </td>
                    
                    </tr>
                  </table>
                  <!-- <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div> -->
            </div>
            <div id="de" class="tab-pane fade">
                <table>
                    <td colspan="2"><h3>D: Location of Occurrence</h3></td>
                    <td colspan="4"><h3>E: Time of Notification</h3></td>
                    <tr>
                        <th id="Category">Location</th>
                        <th id="Category">Site</th>
                        <th>Doctor</th>
                        <th>Supervisor</th>
                        <th>Police</th>
                        <th>Relative</th>
                    </tr>
                   
                      <td>
                        <div>
                            <input type="radio" name="Location1" id="inWard" value="inWard" checked>In the Ward<br>
                            <input type="radio" name="Location1" id="outWard" value="outWard" disabled>Outside the Ward<br>
                            <input type="radio" name="Location2" id="Pharmacy" value="Pharmacy" disabled>Pharmacy<br>
                            <input type="radio" name="Location2" id="outHospital" value="outHospital" disabled>Outside the Hospital<br>
                        
                        </div>
                      </td>
                      <td>
                            <input type="radio" id="css" name="Beside" value="CSS" checked>
                            <label for="css">Beside</label><br>
                            <input type="radio" id="css" name="Cubicle" value="CSS" disabled>
                            <label for="css">Cubicle</label><br>
                            <input type="radio" id="css" name="Corridor" value="CSS" disabled>
                            <label for="css">Corridor</label><br>
                            <input type="radio" id="css" name="Toilet" value="CSS" disabled>
                            <label for="css">Toilet</label><br>
                            <input type="radio" id="css" name="Therapy" value="CSS" disabled>
                            <label for="css">Therapy Gym</label><br>
                            <input type="radio" id="css" name="Others" value="CSS" disabled>
                            <label for="fname">Others(Specify):
                            <input type="text" id="fname" name="fname">
                            </label>
                      </td>
                     
                      <td>
                  
                                    <label for="Time" style="font-weight: bold">Doctor:</label>
									<br>
                                    <input type="time" id="dtime" name="dtime">
                    
                                    <input type="time" id="dtime" name="dtime">
                          
                      </td>
                    
                     
                      
                  
                  </table>              
               


            </div>
            <div id="g" class="tab-pane fade">
                <table>
                   
                    <table rowspan="3" colspan="3">
                        <tr>
                            <th><h3>G: Description on Occurrence</h3></th>
                    
                        </tr>
                        
                        <tr style="vertical-align:top">
                            <th rowspan="2"><br>
            
                                <div>
                                    <textarea id="diagnosis" name="diagnosis" rows="9" cols="100">
                                         
                                    </textarea>
                                </div>
                                <tr>
                                    <td>
        
            
                                    </td>
                                </tr>
            
                                <tr>
                                    <td>
                                        
                                        <br><br>
                                        <label for="fname">Name in Full</label>
                                        <input type="text" id="fname" name="fname"><br><br>
                                        <label for="fname">Designation</label>
                                        <input type="text" id="fname" name="fname"><br><br>
                                        <label for="fname">Date and Time</label>
                                        <input type="text" id="fname" name="fname"><br><br>
            
                                        
                                        
                                    </td>
                                </tr>
            
                            
                            </th>
                        </tr>
             
                     
                    </table>
                  
                </table>
                <!-- <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div> -->
            </div>
            <div id="h" class="tab-pane fade">
                <table>
                   
                    <table rowspan="3" colspan="3">
                        <tr>
                            <th><h3>H: Supervisor</h3></th>
                    
                        </tr>
               
        
                            <td>
                                <br>
                                <label for="fname">Contributing / Mitigating Factors:</label>
                                <input type="text" id="fname" name="fname"><br><br>
                                <label for="fname">Recommendations:</label>
                                <input type="text" id="fname" name="fname"><br><br>
                                <label for="fname">Name in Full</label>
                                <input type="text" id="fname" name="fname"><br><br>
    
                                <form action="/action_page.php">
                                    <label for="date">Date:</label>
                                    <input type="date" id="date" name="date">
                                  
                                    <label for="Time" style="font-weight: bold;">Time</label>
                                    <input type="time" id="time" name="time">
                                </form>
    
    
    
                            </td>
                      
                    </table>
              
                     
                
                <!-- <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div> -->
            </div>
          

 
         
       
              
              <!-- <div>
                  <button>Save</button>
                  <button>Submit</button>
                  <button>Cancel</button>
              </div> -->
         
          <div id="i" class="tab-pane fade">
            <table>
                <tr>
                    <th><h3>I: Doctor's Medical Report/ Follow-Up Report</h3></th>
                    
                </tr>
                
                <tr style="vertical-align:top">
                    <th rowspan="2"><br>
    
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date">
                        <label for="Time" style="font-weight: bold;">Time</label>
                            <input type="time" id="time" name="time">
    
                        <br><br>
                        <label for="fname">Name or Stamp, Signature and MCR No:</label>
                        <input type="text" id="fname" name="fname"><br><br>
    
                    </th>
                </tr>
        
         
             
            </table>
            </div>

            <div id="j" class="tab-pane fade">
            <table>
            <tr>
           
                <th><h3>J: Pharmacy's Comments (For Medication Related Hor</h3></th>
            </tr>
         
            <tr>
                <td colspan="4">
                    Direct Result of Error to Patient:<br>
                    <input type="radio" id="css" name="No" value="CSS" checked>
                    <label for="css">No Patient Harm Caused</label><br>
                    <input type="radio" id="css" name="Patient" value="CSS" disabled>
                    <label for="css">Patient Monitoring or Observation Required</label><br>
                    <input type="radio" id="css" name="Medical" value="CSS" disabled>
                    <label for="css">Medical Intenvention(s) required</label><br>
                    <input type="radio" id="css" name="Patient" value="CSS" disabled>
                    <label for="css">Patient was transferred out</label><br>
                    <input type="radio" id="css" name="Near" value="CSS" disabled>
                    <label for="css">Near Death event/Death</label><br>
                    Error Phase:
                    <input type="radio" id="css" name="Prescribing" value="CSS" checked>
                    <label for="css">Prescribing</label>
                    <input type="radio" id="css" name="Dispensing" value="CSS" disabled>
                    <label for="css">Dispensing</label>
                    <input type="radio" id="css" name="Administering" value="CSS" disabled>
                    <label for="css">Administering</label><br>
                    
                    <table>
                        <td colspan="3"><h3>Error Index:</h3> </td>
                    </table>
                    <input type="radio" id="css" name="A" value="CSS" checked>
                    <label for="css">A</label>
                    <input type="radio" id="css" name="B" value="CSS" disabled>
                    <label for="css">B</label>
                    <input type="radio" id="css" name="C" value="CSS" disabled>
                    <label for="css">C</label>
                    <input type="radio" id="css" name="D" value="CSS" disabled>
                    <label for="css">D</label>
                    <input type="radio" id="css" name="Others" value="CSS" disabled>
                    <label for="css">Others:</label><br>
                </td>
                
                
            </tr>
         
        </table>
          
          </div>

          <div id="l" class="tab-pane fade">
            <tr>
           
                <th><h3>L: Healthcare Performance Office Comments</h3></th>
            </tr>
            <table>
           
            <div>
                Comments:
                <textarea id="diagnosis" name="diagnosis" rows="9" cols="80">
                     
                </textarea>
            </div>
            <br>
            Fall Injury outcome:
            <input type="radio" id="Minor" name="Minor" value="Minor" checked>
            <label for="Minor">Minor</label>
            <input type="radio" id="Moderate" name="Moderate" value="Moderate" disabled>
            <label for="Moderate">Moderate</label>
            <input type="radio" id="Moderate" name="Major" value="Major" disabled>
            <label for="Major">Major</label>
        </th>
    
    </td>
</tr>


</table>
</div>

<div id="m" class="tab-pane fade">
    <tr>
   
        <th><h3>M: Director, Medical Service Comments</h3></th>
    </tr>
    <table>
        <tr>
            <th rowspan="2"><br>
                <br>
                <div>
                    Comments:
                    <textarea id="diagnosis" name="diagnosis" rows="9" cols="80">
                         
                    </textarea>
                </div>
                <br><br><br>
                <label for="fname">Name or Stamp, Signature and MCR No:</label>
                <input type="text" id="fname" name="fname"><br><br>

                
            </th>
            
            
        </tr>

        <tr>
            <td>
                <div>
                    Comments:
                    <textarea id="diagnosis" name="diagnosis" rows="9" cols="80">
                         
                    </textarea>
                </div>
                <br><br>
                <input type="radio" id="css" name="Serious" value="CSS" checked>
                <label for="css">Serious Reportable Event</label>
                <input type="radio" id="css" name="Root" value="CSS" disabled>
                <label for="css">Root Cause Analysis Required</label>
                <input type="radio" id="css" name="Case-closed" value="CSS" disabled>
                <label for="css">Case-closed</label>
            </td>
        </tr>
    </table>

            <div>
                <button>Save</button>
                <button>Submit</button>
                <button>Cancel</button>
            </div>
        </div>
    </section>
    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
</html>