<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Style the tab */
        #tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        #tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        #tab button:hover {
        background-color: #ddd;
        }

        /* Create an active/current tablink class */
        #tab button.active {
        background-color: #ccc;
        }

        /* Style the tab content */
        #tabContent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        }


        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #Injury {
            text-align: center;
        }

        #Category {
            text-align: center;
        }

        /* Style the top navigation bar */
        .navbar {
        overflow: hidden;
        background-color: #333;
        }

        /* Style the navigation bar links */
        .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        }

        /* Right-aligned link */
        .navbar a.right {
        float: right;
        }

        /* Change color on hover */
        .navbar a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Footer */
        .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        }

    </style>
</head>
<body>
    
    <div class="navbar">
        <header>
            <div id="logo">Logo</div>
            <a href="#" class="right">Save</a>
            <a href="#" class="right">View Reports</a>
            <a href="#" class="right">Update</a>
            <a href="#" class="right">Create</a>
        </header>  
    </div>

      <!-- <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>HOME</h3>
          <p>Some content.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Some content in menu 2.</p>
        </div>
      </div> -->
  
    <section>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ab">A B</a></li>
            <li><a data-toggle="tab" href="#c">C</a></li>
            <li><a data-toggle="tab" href="#de">D E</a></li>
            <li><a data-toggle="tab" href="#f">F</a></li>
            <li><a data-toggle="tab" href="#g">G</a></li>
            <li><a data-toggle="tab" href="#h">H</a></li>
            <li><a data-toggle="tab" href="#i">I</a></li>
            <li><a data-toggle="tab" href="#j">J</a></li>
            <li><a data-toggle="tab" href="#k">K</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="ab" class="tab-pane fade in active">
            <div id="a">
                    <table>
                        <td colspan="2"><h3>A: Date & Time of Occurrence</h3>
                            <label for="date">Date:</label>
                            2021-05-25
                            
                            <label for="Time" style="font-weight: bold;">Time</label>
                            07:35:41
                            
                        </td>
                        <td>
                            <div id="b">
                                <h3>B: Diagnosis - Related to Event</h3>
                                <div>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ad iusto, incidunt laborum corrupti est architecto quibusdam suscipit voluptatibus quod aut earum officiis harum vel velit vero totam eligendi non.
                                </div>
                            </div>
                        </td>
                    </table>
                    <!-- <div>
                        <button>Submit</button>
                        <button>Cancel</button>
                    </div> -->
            </div>   
            </div>
            <div id="c" class="tab-pane fade">
                <table>
                    <td colspan="3"><h3>C: Particulars of Person Involved</h3></td>
                   
                    <tr>
                        <td> 
                            <h4>Affected Person</h4>
                            <input type="checkbox" value="P" disabled>
                            <label for="patient">Patient</label>
                            <input type="checkbox" value="P" checked>
                            <label for="visitor">Visitor / Caregiver</label>
                            <input type="checkbox" value="P" disabled>
                            <label for="staff">Staff</label>
                        </td>
                        <th rowspan="6"><br>
                          
                            <label for="patient">Patient / Affected Person's Particulars</label>
                     
                            <br><br>

                            <label for="name">Name:</label>
                     
                            Patient3<br><br>

                            <label for="nric">NRIC/FIN/Passport No:</label>
                     
                            G0535893K<br><br>

                            <label for="postaladdress">Postal Address:</label>
                     
                            546215<br><br>
                            
                            Sex:
                            <input type="radio" id="M" name="M" value="M" checked>
                            <label for="M">M</label>
                            <input type="radio" id="F" name="F" value="F" disabled>
                            <label for="F">F</label><br><br>

                            <label for="contact">Contact Number:</label>
                            NULL<br><br>

                            <label for="ward">Ward</label>
                     
                            2

                            <label for="bed">Bed</label>
                     
                            1
                         
                        </th>
                
                           
                    </tr>

                    <tr>
                        <td>
                            Witness: NULL
                        </td>
                    
                    </tr>
                    
                </table>
                
                <!-- <div>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div> -->
               
            </div>       
            <div id="de" class="tab-pane fade">
                <div>
                    <table>
                        <td colspan="2"><h3>D: Location of Occurrence</h3></td>
                        <td colspan="4"><h3>E: Time of Notification</h3></td>
                        <tr>
                            <th id="Location">Location</th>
                            <th id="Site">Site</th>
                            <th>Doctor</th>
                            <th>Supervisor</th>
                            <th>Police</th>
                            <th>Relative</th>
                        </tr>
                        <tr>
                          <td>
                            <div>
                                <input type="radio" name="inWard" id="inWard" value="inWard" checked>In the Ward<br>
                                <input type="radio" name="outWard" id="outWard" value="outWard" disabled>Outside the Ward<br>
                                <input type="radio" name="pharmacy" id="pharmacy" value="Pharmacy" disabled>Pharmacy<br>
                                <input type="radio" name="outHospital" id="outHospital" value="outHospital" disabled>Outside the Hospital<br>
                            
                            </div>
                          </td>
                          <td>
                                <input type="radio" id="beside" name="beside" value="beside" checked>
                                <label for="beside">Beside</label><br>
                                <input type="radio" id="cubicle" name="cubicle" value="cubicle" disabled>
                                <label for="cubicle">Cubicle</label><br>
                                <input type="radio" id="corridor" name="corridor" value="corridor" disabled>
                                <label for="corridor">Corridor</label><br>
                                <input type="radio" id="toilet" name="toilet" value="toilet" disabled>
                                <label for="toilet">Toilet</label><br>
                                <input type="radio" id="therapygym" name="therapygym" value="therapygym" disabled>
                                <label for="therapygym">Therapy Gym</label><br>
                                <input type="radio" id="others" name="others" value="others" disabled>
                                <label for="others">Others(Specify):
                                <!--<input type="text" id="text" name="text">-->
                                </label>
                          </td>
                          <td>
                
                            <div id="box3">
                                <div class="row">
                                
                                    <div class="column middle">
                                        &nbsp&nbsp&nbsp&nbsp <label for="Time" style="font-weight: bold">Doctor:</label>
                                        07:35:41
                                       
                                    </div>
                            
                                  
                                </div>
                                
            
                            </div>
                          </td>
                          <td>
                
                            <div id="box3">
                                <div class="row">
                                
                                    <div class="column middle">
                                        &nbsp&nbsp&nbsp&nbsp<label for="Time" style="font-weight: bold">Supervisor:</label>
                                        07:35:41
                                       
                                    </div>
                            
                                  
                                </div>
                                
            
                            </div>
                          </td>
                          <td>
                
                            <div id="box3">
                                <div class="row">
                                
                                    <div class="column middle">
                                        &nbsp&nbsp&nbsp&nbsp<label for="Time" style="font-weight: bold">Police:</label>
                                        07:35:41
                                       
                                    </div>
                            
                                  
                                </div>
                                
            
                            </div>
                          </td>
                          <td>
                            
                            <div id="box3">
                                <div class="row">
                                
                                    <div class="column middle">
                                        &nbsp&nbsp&nbsp&nbsp<label for="Time" style="font-weight: bold">Relative:</label>
                                        07:35:41
                                       
                                    </div>
                            
                                  
                                </div>
                                
            
                            </div>
                          </td>
                          
                        
                       
                      </table>                      
            
                </div>
            </div>
            <div id="f" class="tab-pane fade">
                <table>
                    <td colspan="3"><h3>F: Type of Occurrence</h3></td>
                    <tr>
                      <th id="Category">Fall Related</th>
                      <th id="Category">Medication Related</th>
                      <th id="Category">Other Incidents</th>
                    </tr>
                    <tr>
                        <td> 
                            <input type="radio" id="fallnoninjury" name="fallnoninjury" value="fallnoninjury" disabled>
                            <label for="fallnoninjury">Fall (Non-Injury)</label>
                            <input type="radio" id="near" name="near" value="near" disabled>
                            <label for="near">Near Fall</label><br>
                        </td>
                        <th rowspan="6">Types of Error<br>
                            <input type="radio" id="wrong" name="wrong" value="wrong" checked>
                            <label for="wrong">Wrong Patient</label><br>
                            <input type="radio" id="drug" name="drug" value="drug" disabled>
                            <label for="drug">Wrong Drug</label><br>
                            <input type="radio" id="strength" name="strength" value="strength" disabled>
                            <label for="strength">Wrong Strength/Dose</label><br>
                            <input type="radio" id="wrongtime" name="wrongtime" value="wrongtime" disabled>
                            <label for="wrongtime">Wrong Time</label><br>
                            <input type="radio" id="wrongroute" name="wrongroute" value="wrongroute" disabled>
                            <label for="wrongroute">Wrong Route</label><br>
                            <input type="radio" id="others" name="others" value="others" disabled>
                            <label for="others">Others(Specify):
                             <!-- <input type="text" id="fname" name="fname"><br><br> -->
                            </label><br><br><br><br>

                            <label for="fname">Drug Involved:
                            <!-- <input type="text" id="fname" name="fname"> -->
                            test
                            <br><br>

                            Error reached patient:   
                            <input type="radio" id="erroryes" name="erroryes" value="erroryes" checked>
                            <label for="erroryes">Yes</label>
                            <input type="radio" id="errorno" name="errorno" value="errorno" disabled>
                            <label for="errorno">No</label><br>
                        </th>
                        <th rowspan="6">Types of Error<br>
                            <input type="radio" id="injury" name="injury" value="injury" checked>
                            <label for="injury">Injury unrelated to fall</label><br>
                            <input type="radio" id="treatment" name="treatment" value="treatment" disabled>
                            <label for="treatment">Treatment Related</label><br>
                            <input type="radio" id="diagnostic" name="diagnostic" value="diagnostic" disabled>
                            <label for="diagnostic">Diagnostic related</label><br>
                            <input type="radio" id="abuse" name="abuse" value="abuse" disabled>
                            <label for="abuse">Abuse</label><br>
                            <input type="radio" id="assaults" name="assaults" value="assaults" disabled>
                            <label for="assaults">Assaults</label><br>
                            <input type="radio" id="needle-stick" name="needle-stick" value="needle-stick" disabled>
                            <label for="needle-stick">Needle-stick Injury</label><br>
                            <input type="radio" id="other" name="other" value="other" disabled>
                            <label for="other">Other Incident</label><br><br><br><br><br><br>

                            <label for="fname">Details(Specify):</label>
                            <!-- <input type="text" id="fname" name="fname"><br><br> -->
                            test

                           
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="fall" name="fallinjury" value="fallinjury" checked>
                            <label for="fallinjury">Fall (Injury)</label>
                            <input type="radio" id="near" name="near" value="near" disabled>
                            <label for="near">Near Fall (Injury)</label><br>
                        </td>
                       
                    </tr>
                    <tr>
                        <td id="Injury">Injury</td>
                     
                    </tr> 
                    <tr>
                        <td>
                            <input type="radio" id="fractures" name="fractures" value="fractures" checked>
                            <label for="fractures">Fracture</label>
                            <input type="radio" id="laceration" name="laceration" value="laceration" disabled>
                            <label for="laceration">Laceration</label><br>
                            <input type="radio" id="abrasion" name="abrasion" value="abrasion" disabled>
                            <label for="abrasion">Abrasion</label>
                            <input type="radio" id="hematoma" name="hematoma" value="hematoma" disabled>
                            <label for="hematoma">Hematoma</label><br>
                            <input type="radio" class="right" name="head" value="head" disabled>
                            <label for="head">Head Injury</label>
                            <input type="radio" class="right" name="others" value="others" disabled>
                            <label for="others">Others:</label><br>
                            <input type="radio" class="right" name="bruise" value="bruise" disabled>
                            <label for="bruise">Bruise/Swelling</label>
                        </td>
                      
                    </tr>
                    <tr>
                        <td>Fall Risk Assessment:<br>
                            <input type="radio" id="Low" name="Low" value="Low" checked>
                            <label for="Low">Low</label>
                            <input type="radio" id="Moderate" name="Moderate" value="Moderate" disabled>
                            <label for="Moderate">Moderate</label>
                            <input type="radio" id="High" name="High" value="High" disabled>
                            <label for="High">High</label>

                            &nbsp&nbsp&nbsp&nbsp History of Falls:
                            <input type="radio" id="yes" name="yes" value="yes" checked>
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="no" value="no" disabled>
                            <label for="no">No</label>

                          
                        </td>
                     

                        
                     
                    </tr>
                    <tr>
                        <td>Assisted/Unassisted fall:<br>
                            <input type="radio" id="assisted" name="assisted" value="assisted" checked>
                            <label for="assisted">Assisted</label>
                            <input type="radio" id="unassisted" name="unassisted" value="unassisted" disabled>
                            <label for="unassisted">Unassisted</label>

                           
                            <label for="fname"> AMT:</label>
                            6/10<br><br>

                        </td>
                    
                    </tr>
                  </table>
                  <!-- <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div> -->
            </div>
            <div id="g" class="tab-pane fade">
                <table>
                   
                    <table rowspan="3" colspan="3">
                        <tr>
                            <th><h3>G: Description on Occurrence</h3></th>
                    
                        </tr>
                        
                        <tr style="vertical-align:top">
                            <th rowspan="2"><br>
            
                                <div>
                                    <!--<textarea id="diagnosis" name="diagnosis" rows="9" cols="100">test</textarea>-->
                                    test
                                </div>
                                <tr>
                                    <td>
        
            
                                    </td>
                                </tr>
            
                                <tr>
                                    <td>
                                        
                                        <br><br>
                                        <label for="fname">Name in Full:</label>
                                        <!-- <input type="text" id="fname" name="fname"><br><br> -->
                                        ZhiMin<br>
                                        <label for="fname">Designation:</label>
                                        Test<br>
                                        <!-- <input type="text" id="fname" name="fname"><br><br> -->
                                        <label for="fname">Date and Time:</label>
                                        4 December 4.01pm<br>
                                        <!-- <input type="text" id="fname" name="fname"><br><br> -->
            
                                        
                                        
                                    </td>
                                </tr>
            
                            
                            </th>
                        </tr>
             
                     
                    </table>
                  
                </table>
                <!-- <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div> -->
            </div>
            <div id="h" class="tab-pane fade">
                <table>
                   
                    <table rowspan="3" colspan="3">
                        <tr>
                            <th><h3>H: Supervisor</h3></th>
                    
                        </tr>
               
        
                            <td>
                                <br>
                                <label for="contributing">Contributing / Mitigating Factors:</label>
                                Test<br>
                                <!-- <input type="text" id="fname" name="fname"><br><br> -->
                                <label for="recommendations">Recommendations:</label>
                                Test<br>
                                <!-- <input type="text" id="fname" name="fname"><br><br> -->
                                <label for="nameinfull">Name in Full</label>
                                ZhiMin<br>
                                <!-- <input type="text" id="fname" name="fname"><br><br> -->
    
                                <form action="/action_page.php">
                                    <label for="date">Date:</label>
                                    <!-- <input type="date" id="date" name="date"> -->
                                  4 December
                                    <label for="Time" style="font-weight: bold;">Time</label>
                                    <!-- <input type="time" id="time" name="time"> -->
                                    4.03pm
                                </form>
    
    
    
                            </td>
                      
                    </table>
              
                     
                
                <!-- <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div> -->
            </div>
            <div id="i" class="tab-pane fade">
                <table>
                    <tr>
                        <th><h3>I: Doctor's Medical Report/ Follow-Up Report</h3></th>
                        
                    </tr>
                    
                    <tr style="vertical-align:top">
                        <th rowspan="2"><br>
        
                            <label for="date">Date:</label>
                            4 December 
                            <!-- <input type="date" id="date" name="date"> -->
                            <label for="Time" style="font-weight: bold;">Time</label>
                                <!-- <input type="time" id="time" name="time"> -->
                                4.04pm
        
                            <br><br>
                            <label for="fname">Name or Stamp, Signature and MCR No:</label>
                            <!-- <input type="text" id="fname" name="fname"><br><br> -->
                            ZhiMin 37483 
        
                        </th>
                    </tr>
            
             
                 
                </table>
            </div>
            <div id="j" class="tab-pane fade">
                <table>
                <tr>
               
                    <th><h3>J: Pharmacy's Comments (For Medication Related Hor</h3></th>
                </tr>
             
                <tr>
                    <td colspan="4">
                        Direct Result of Error to Patient:<br>
                        <input type="radio" id="noharm" name="noharm" value="noharm" checked>
                        <label for="noharm">No Patient Harm Caused</label><br>
                        <input type="radio" id="monitoring" name="monitoring" value="monitoring" disabled>
                        <label for="monitoring">Patient Monitoring or Observation Required</label><br>
                        <input type="radio" id="intenvention" name="intenvention" value="intenvention" disabled>
                        <label for="intenvention">Medical Intenvention(s) required</label><br>
                        <input type="radio" id="patient" name="patient" value="patient" disabled>
                        <label for="patient">Patient was transferred out</label><br>
                        <input type="radio" id="deathevent" name="deathevent" value="deathevent" disabled>
                        <label for="deathevent">Near Death event/Death</label><br><br>
                        Error Phase:
                        <input type="radio" id="prescribing" name="prescribing" value="prescribing" checked>
                        <label for="prescribing">Prescribing</label>
                        <input type="radio" id="dispensing" name="dispensing" value="dispensing" disabled>
                        <label for="dispensing">Dispensing</label>
                        <input type="radio" id="administering" name="administering" value="administering" disabled>
                        <label for="administering">Administering</label><br>
                        
                        <table>
                            <td colspan="3"><h3>Error Index:</h3> </td>
                        </table>
                        <input type="radio" id="A" name="A" value="A" checked>
                        <label for="A">A</label>
                        <input type="radio" id="B" name="B" value="B" disabled>
                        <label for="B">B</label>
                        <input type="radio" id="C" name="C" value="C" disabled>
                        <label for="C">C</label>
                        <input type="radio" id="D" name="D" value="D" disabled>
                        <label for="D">D</label>
                        <input type="radio" id="E" name="E" value="E" disabled>
                        <label for="E">E</label>
                        <input type="radio" id="F" name="F" value="F" disabled>
                        <label for="E">F</label>
                        <input type="radio" id="G" name="G" value="G" disabled>
                        <label for="E">G</label>
                        <input type="radio" id="H" name="H" value="H" disabled>
                        <label for="E">H</label>
                        <input type="radio" id="I" name="I" value="I" disabled>
                        <label for="I">I</label>
                        &nbsp&nbsp<label for="E">Others:</label><br>
                    </td>
                    
                    
                </tr>
             
            </table>
              
            </div>
            <div id="k" class="tab-pane fade">
            <table>
                <tr> 
                    <th><h3>K: Head of Department Comments</h3></th>
                
                </tr>

                <tr>
                    <th rowspan="2"><br>
                        <br>
                        <div>
                            Comments:
                            <textarea id="diagnosis" name="diagnosis" rows="9" cols="80">
                                
                            </textarea>
                        </div>
                        <br><br><br>
                        <label for="fname">Name or Stamp, Signature and MCR No:</label>
                        <input type="text" id="fname" name="fname"><br><br>

                        
                    </th>
                    
                    
                </tr>

            </table>
            </div>
            <div>
                <button>Save</button>
                <button>Submit</button>
                <button>Cancel</button>
            </div>
        </div>
    </section>
    <div class="footer">
        <h6>© 2021 Ang Mo Kio - Thye Hua Kwan Hospital. All rights reserved.</h6>
    </div>
</body>
</html>