<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Report</title>
    <style>
        /* Style the tab */
        #tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        #tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        #tab button:hover {
        background-color: #ddd;
        }

        /* Create an active/current tablink class */
        #tab button.active {
        background-color: #ccc;
        }

        /* Style the tab content */
        #tabContent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        }


        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #Injury {
            text-align: center;
        }

        #Category {
            text-align: center;
        }

        /* Style the top navigation bar */
        .navbar {
        overflow: hidden;
        background-color: #333;
        }

        /* Style the navigation bar links */
        .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        }

        /* Right-aligned link */
        .navbar a.right {
        float: right;
        }

        /* Change color on hover */
        .navbar a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Footer */
        .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        }

    </style>
</head>
<body>
    
    <div class="navbar">
        <header>
            <div id="logo">Logo</div>
            <a href="#" class="right">Save</a>
            <a href="#" class="right">View Reports</a>
            <a href="#" class="right">Update</a>
            <a href="#" class="right">Create</a>
        </header>
      
    </div>


  
    <section>
        <div id="tab">
            <button>A B</button>
            <button>C</button>
            <button>D E</button>
            <button>F</button>
            <button>G H</button>
            <button>I J</button>
            <button>K L M</button>
        </div>
        
        <form action="#">
            <div id="ab" class="tabContent">
                <div id="a">
                    <table>
                        <td colspan="2"><h3>A: Date & Time of Occurrence</h3>
               
                            <form action="/action_page.php">
                            <label for="birthday">Date:</label>
                            <input type="date" id="birthday" name="birthday">
                            <input type="submit">
                            </form>
                        </td>
                        <td>
                            <div id="b" class="tabContent">
                                <h3>B: Diagnosis - Related to Event</h3>
                                <div>
                                    <textarea id="w3review" name="w3review" rows="2" cols="50">
                                         
                                    </textarea>
                                </div>
                            </div>
                        </td>
                    </table>
                    <div>
                        <button>Submit</button>
                        <button>Cancel</button>
                    </div>
                </div>   
            </div>
            
            <div id="c" class="tabContent">
                <table>
                    <td colspan="3"><h3>C: Particulars of Person Involved</h3></td>
                   
                    <tr>
                        <td> 
                            <h4>Affected Person</h4>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Patient</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Visitor/Caregiver</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Staff</label><br>
                        </td>
                        <th rowspan="6"><br>
                          
                            <label for="css">Patient / Affected Person's Particulars</label>
                     
                            <input type="text" id="fname" name="fname"><br><br>

                            <label for="css">Name:</label>
                     
                            <input type="text" id="fname" name="fname"><br><br>

                            <label for="css">NRIC/FIN/Passport No:</label>
                     
                            <input type="text" id="fname" name="fname"><br><br>

                            <label for="css">Postal Address:</label>
                     
                            <input type="text" id="fname" name="fname"><br><br>
                            
                            Sex:
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">M</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">F</label><br><br>

                            <label for="css">Ward</label>
                     
                            <input type="text" id="fname" name="fname">

                            <label for="css">Bed</label>
                     
                            <input type="text" id="fname" name="fname">
                         
                        </th>
                
                           
                    </tr>

                    <tr>
                        <td>
                            Witness:
                        </td>
                    
                    </tr>
                    
                </table>
                
                    <div>
                        <button>Submit</button>
                        <button>Cancel</button>
                    </div>
               
                   
            <div id="de" class="tabContent">
                <div>
                    <table>
                        <td colspan="2"><h3>D: Location of Occurrence</h3></td>
                        <td colspan="4"><h3>E: Time of Notification</h3></td>
                        <tr>
                            <th id="Category">Location</th>
                            <th id="Category">Site</th>
                            <th>Doctor</th>
                            <th>Supervisor</th>
                            <th>Police</th>
                            <th>Relative</th>
                        </tr>
                        <tr>
                          <td>
                            <div>
                                <input type="radio" name="Location1" id="inWard" value="inWard">In the Ward<br>
                                <input type="radio" name="Location1" id="outWard" value="outWard">Outside the Ward<br>
                                <input type="radio" name="Location2" id="Pharmacy" value="Pharmacy">Pharmacy<br>
                                <input type="radio" name="Location2" id="outHospital" value="outHospital">Outside the Hospital<br>
                            
                            </div>
                          </td>
                          <td>
                                <input type="radio" id="css" name="fav_language" value="CSS">
                                <label for="css">Beside</label><br>
                                <input type="radio" id="css" name="fav_language" value="CSS">
                                <label for="css">Cubicle</label><br>
                                <input type="radio" id="css" name="fav_language" value="CSS">
                                <label for="css">Corridor</label><br>
                                <input type="radio" id="css" name="fav_language" value="CSS">
                                <label for="css">Toilet</label><br>
                                <input type="radio" id="css" name="fav_language" value="CSS">
                                <label for="css">Therapy Gym</label><br>
                                <input type="radio" id="css" name="fav_language" value="CSS">
                                <label for="fname">Others(Specify):
                                <input type="text" id="fname" name="fname">
                                </label>
                          </td>
                          
                        
                        <tr>
                          <td>Laughing Bacchus Winecellars</td>
                          <td>Yoshi Tannamuri</td>
                          <td>Canada</td>
                        </tr>
                        <tr>
                          <td>Magazzini Alimentari Riuniti</td>
                          <td>Giovanni Rovelli</td>
                          <td>Italy</td>
                        </tr>
                      </table>                      
            
                </div>
            </div>
            <div id="f" class="tabContent">
                <table>
                    <td colspan="3"><h3>F: Type of Occurrence</h3></td>
                    <tr>
                      <th id="Category">Fall Related</th>
                      <th id="Category">Medication Related</th>
                      <th id="Category">Other Incidents</th>
                    </tr>
                    <tr>
                        <td> 
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Fall (Non-Injury)</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Near Fall</label><br>
                        </td>
                        <th rowspan="6">Types of Error<br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Wrong Patient</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Wrong Drug</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Wrong Strength/Dose</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Wrong Time</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Wrong Route</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="fname">Others(Specify):
                            <input type="text" id="fname" name="fname"><br><br>
                            </label><br><br><br><br>

                            <label for="fname">Drug Involved:
                            <input type="text" id="fname" name="fname">
                            <br><br>

                            Error reached patient:   
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Yes</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">No</label><br>
                        </th>
                        <th rowspan="6">Types of Error<br>
                            <input type="radio" id="html" name="fav_language" value="CSS">
                            <label for="html">Injury unrelated to fall</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Treatment Related</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Diagnostic related</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Abuse</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Assaults</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Needle-stick Injury</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Other Incident</label><br><br><br><br><br><br>

                            <label for="fname">Details(Specify):</label>
                            <input type="text" id="fname" name="fname"><br><br>

                           
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Fall (Injury)</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Near Fall (Injury)</label><br>
                        </td>
                       
                    </tr>
                    <tr>
                        <td id="Injury">Injury</td>
                     
                    </tr> 
                    <tr>
                        <td>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Fracture</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Laceration</label><br>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Abrasion</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Hematoma</label><br>
                            <input type="radio" class="right" name="fav_language" value="HTML">
                            <label for="html">Head Injury</label>
                            <input type="radio" class="right" name="fav_language" value="CSS">
                            <label for="css">Others:</label><br>
                            <input type="radio" class="right" name="fav_language" value="HTML">
                            <label for="html">Bruise/Swelling</label>
                        </td>
                      
                    </tr>
                    <tr>
                        <td>Fall Risk Assessment:<br>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Fracture</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Laceration</label>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Abrasion</label>

                            History of Falls:
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Yes</label>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">No</label>

                          
                        </td>
                     

                        
                     
                    </tr>
                    <tr>
                        <td>Assisted/Unassisted fall:<br>
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">Assisted</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Unassisted</label>

                           
                            <label for="fname"> AMT:</label>
                            <input type="text" id="fname" name="fname">/10<br><br>

                        </td>
                    
                    </tr>
                  </table>
                  <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div>
            </div>

            </div>

            <div id="gh" class="tabContent">
                <table>
                    <td colspan="3"><h3>G: Description on Occurrence</h3> </td>
                    <td><h3>H: Supervisor</h3></td>
                    
                   
                
                 
                </table>
                <div>
                    <button>Save</button>
                    <button>Submit</button>
                    <button>Cancel</button>
                </div>
            </div>

            <div id="ij" class="tabContent">
                <table>
                    <tr>
                        <th><h3>J: Pharmacy's Comments (For Medication Related Hor</h3></th>
                        <th><h3>I: Doctor's Medical Report/ Follow-Up Report</h3></th>
                    </tr>
                    
                    <tr>
                        <th rowspan="2"><br>
                  

                            <br>
                            <label for="fname">Name or Stamp, Signature and MCR No:</label>
                            <input type="text" id="fname" name="fname"><br><br>
       
                        </th>
                    </tr>
                    <tr>
                        <td colspan="4">
                            Direct Result of Error to Patient:<br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">No Patient Harm Caused</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Patient Monitoring or Observation Required</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Medical Intenvention(s) required</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Patient was transferred out</label><br>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Near Death event/Death</label><br>
                            Error Phase:
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Prescribing</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Dispensing</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Administering</label><br>
                            Error Index:
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">A</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">B</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">C</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">D</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Others:</label><br>
                        </td>
                        
                        
                    </tr>
                    
                    
                    
                   
                
                 
                </table>
              

     


            </div>
            <div id="klm" class="tabContent">
                <table>
                    <tr> 
                        <th><h3>K: Head of Department Comments</h3></th>
                        <th><h3>M: Director, Medical Service Comments</h3></th>
                    </tr>
                    <tr>
                        <th rowspan="2"><br>
                            <br>
                            <label for="fname">Name or Stamp, Signature and MCR No:</label>
                            <input type="text" id="fname" name="fname"><br><br>
       
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Serious Reportable Event</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Root Cause Analysis Required</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Case-closed</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <th><h3>L: Healthcare Performance Office Comments</h3></th>
                            Fall Injury outcome:
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Minor</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Moderate</label>
                            <input type="radio" id="css" name="fav_language" value="CSS">
                            <label for="css">Major</label>
                        </td>
                    </tr>
                   
               
                   
                </table>
            </div>
            <div>
                <button>Save</button>
                <button>Submit</button>
                <button>Cancel</button>
            </div>
        </form>
    </section>
    <script>
        show = function showTab(tab) {
        var i;

        for (i = 0; i < domTabs.length; i += 1) {
            if (tabs[i] === tab) {
                domTabs[i].style.display = "block";
            } else {
                domTabs[i].style.display = "none";
            }
        }
        };
    </script>
    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
</html>